[defaults]
inventory = inventory/
remote_user = ansible
gathering = explicit
fact_caching = memory
host_key_checking = False
roles_path = roles
inject_facts_as_vars = False
result_format = yaml

[ssh_connection]
pipelining = True
