apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: {{ cloudflared_namespace }}
data:
  config.yaml: |
    tunnel: {{ cloudflared_tunnel_id }}
    credentials-file: /etc/cloudflared/creds/credentials.json
    ingress:
      - hostname: {{ cloudflared_hostname }}
        service: http://{{ cloudflared_upstream_service }}:{{ cloudflared_upstream_port }}
      - service: http_status:404
