apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: {{ cloudflared_namespace }}
spec:
  replicas: {{ cloudflared_replicas }}
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: {{ cloudflared_image }}
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-creds
                  key: tunnel-token
