apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: onepassword-connect
spec:
  provider:
    onepassword:
      connectHost: {{ onepassword_connect_url }}
      vaults:
{% for vault_name, vault_uuid in onepassword_connect_vaults.items() %}
        {{ vault_name }}: {{ vault_uuid }}
{% endfor %}
      auth:
        secretRef:
          connectTokenSecretRef:
            namespace: external-secrets
            name: onepassword-connect-token
            key: token
