---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: onepassword-connect
  namespace: {{ onepassword_connect_namespace }}
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`{{ onepassword_connect_hostname }}`)
      kind: Rule
      services:
        - name: {{ onepassword_connect_service_name }}
          port: {{ onepassword_connect_port }}
