apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-{{ cert_manager_domain | replace('.', '-') }}
  namespace: kube-system
spec:
  secretName: wildcard-tls
  issuerRef:
    name: {{ cert_manager_cluster_issuer_name }}
    kind: ClusterIssuer
  dnsNames:
    - "*.{{ cert_manager_domain }}"
    - "{{ cert_manager_domain }}"
